/* ***************************************** */
/* QUERIES FOR 1104 px */
/* ***************************************** */

@media (max-width: 69em) {
  
  html {
    font-size: 56.25%;
  }

  .margin-bottom-big {
    margin-bottom: 8.0rem;
  }
  
  .testimonials-section {
    padding: 6.4rem 0 9.6rem 0;
  }
}


/* ***************************************** */
/* QUERIES FOR 912px */
/* ***************************************** */

@media (max-width: 57em) {
  .btn-mobile-nav {
    display: block;
  }

  /* this is not a flex item anymore */
  .main-nav {
    position: absolute;
    background-color: #fff;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease;

    transform: translateX(100%);
    /* hide the navigation */
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
  }

  /* nav-open will be toggled through js */
  .nav-open .main-nav{
    opacity: 95%;
    pointer-events: auto;
    visibility: visible;
    transform: translateX(0);
  }

  /* show close button */
  .nav-open .nav-close-button {
    display: block;
  }

  /* hide menu icon */
  .nav-open .nav-menu-button {
    display: none;
  }

  .nav-links {
    flex-direction: column;
    justify-content: center;
    gap: 4.8rem;
    font-size: 3rem;
  }

  .hero {
    grid-template-columns: 1fr;
    text-align: center;
  }  

  .hero-img {
    width: 80%;
  }

  .button-container {
    justify-content: center;
  }

  .grid--3-cols {
    grid-template-columns: 1fr 1fr;
  }

  .testimonial-card:nth-child(3) {
    grid-column: 1 / -1;
    margin: 0 17rem;
  }

  .highlights-card:nth-child(3) {
    grid-column: 1 / -1;
    /* make third card the same size as the others */
    margin: 0 17rem;
  }

  .grid-footer {
    grid-template-columns: 1fr 1fr;
    gap: 6.4rem;
  }

} 

/* ***************************************** */
/* QUERIES FOR 704px */
/* ***************************************** */
@media(max-width: 44em) {
  .hero-img {
    width: 70%;
  }

  .heading-primary {
    font-size: 3.6rem;
  }

  .heading-secondary {
    font-size: 3rem;
  }

  .z-text {
    font-size: 1.8rem;
  }
}

/* ***************************************** */
/* QUERIES FOR 608px */
/* ***************************************** */
@media(max-width: 38em){
  .btn, .btn:link, .btn:visited {
    font-size: 1.8rem;
  }

  .grid--2-cols {
    grid-template-columns: 1fr;
    text-align: center;
  }
  
  .z-right {
    grid-column: 1; 
    grid-row: 1;
  }

  .z-img {
    width: 70%;
  }

  .grid--3-cols {
    grid-template-columns: 1fr;
  }

  .testimonial-card {
    margin: 0 3rem;
    text-align: center;
  }

  .highlights-card {
    margin: 0 3rem;
  }

  .testimonial-card:nth-child(3) {
    margin: 0 3rem;
  }

  .highlights-card:nth-child(3) {
    margin: 0 3rem;
  }
  
  .cta-grid {
    grid-template-columns: 1fr;
  }

  .cta-img {
    height: 32rem;
    grid-row: 1;
  }

  .header .logo {
    font-size: 3.6rem;
  }

  .logo {
    font-size: 3rem;
  }
}


/* ***************************************** */
/* QUERIES FOR 416px */
/* ***************************************** */

@media(max-width: 26em){
  .btn, .btn:link, .btn:visited {
    font-size: 1.6rem;
  }

}
