/* ********************************************* */
/* HERO SECTION */
/* ********************************************* */

.section-hero {
  background-color: #fdebf1;
  padding: 4.8rem 0 9.6rem 0;
}


.hero {
  max-width: 114rem;
  margin: 0 auto;
  padding: 0 3.2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 9.6rem;
  align-items: center;
}

.hero-img {
  width: 100%;
}

.hero-text-box {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.button-container {
  display: flex;
  gap: 3rem;
}

.hero-paragraph {
  font-size: 2.0rem;
  line-height: 1.05;
}

/* ********************************************* */
/* HOW IT WORKS SECTION */
/* ********************************************* */
.how-it-works {
  padding: 4.8rem 0 9.6rem 0;
}

.z-pattern-box {
  gap: 6.4rem;  
  margin-bottom: 9.6rem;
}

div.z-pattern-box:nth-child(3) {
  margin-bottom: 0;
}

.z-img {
  align-self: center;
  justify-self: center;
  width: 80%;
}

.z-text-box {
  display: flex;
  flex-direction: column; 
  gap: 3rem;
  justify-content: center;
  /* align-items: center; */
}

.z-text {
  font-size: 2rem;
}

.z-right {
  grid-column: 2; 
  grid-row: 1;
}

/* ********************************************* */
/* TESTIMONIALS SECTION */
/* ********************************************* */

.testimonial-grid {
  gap: 9.6rem;
}



.testimonial-card {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  align-items: center;
  justify-content: center;
}

.testimonial-img {
  width: 50%;
  border-radius: 50%;
}

.star-rate {
  color: #ed3376;
  width: 3rem;
  height: 3rem;
}

.testimonial-description {
  font-size: 1.8rem;
}

.testimonial-name {
  font-size: 1.6rem;
    font-weight: 500;
  color: #2f0a18;
}

.job-title {

  color: #470f23;
}
